{% extends 'base.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='prompt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modelDropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='options_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat_container.css') }}">
{% endblock stylesheet %}

{% block scripts %}
    <script type="text/javascript" lang="javascript" src="{{ url_for('static', filename='prompt_inp_detection.mjs') }}"></script>
    <script type="text/javascript" lang="javascript" src="{{ url_for('static', filename='toggle_sidebar.mjs') }}"></script>
    <script type="text/javascript" lang="javascript" src="{{ url_for('static', filename='dropdownAppear.mjs') }}"></script>
{% endblock scripts %}

{% block title %}
ChatGPT Remastered
{% endblock title %}

{% block content %}
    <div id="sidebar">
        <button id="sidebar_closer" type="button" onclick="sidebarToggle();"></button>
    </div>
    <div id="main_container">
        <div id="options_bar">  <!-- This act like a header for the main_container -->
            <ul>
                <li>
                    <button id="sidebar_opener" type="button" onclick="sidebarToggle();"></button>
                </li>
                <li>
                    <div id="modelSelector">
                        <button id="modelDropdown" type="button" onclick="showSelection();">ChatGPT</button>
                        <!-- Contain a list of available models from the API KEY and editable parameters: with brief descriptions of what they are -->
                        <div id="modelSelection"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="chat_container">
            <div id="chat_sidebar"></div>
            <div id="chat_body">
                <div id="prompt_container">
                    <input id="prompt_input" type="text" placeholder="Message ChatGPT">
                    <button id="submit_prompt_input" type="button"></button>
                </div>

                <div id="chat_display"></div>
            </div>
        </div>
    </div>

{% endblock content %}