#chat_container {
    display: flex;
    height: 93.4%;  /* 100% - options_bar.height */
}

#chat_sidebar {
    display: flex;
    width: 20%;
    height: 100%;
    background-color: #141316;
    flex-direction: column;
    padding-top: 10px;
    border-right: 1px solid #000000;
}

#chat_sidebar .reference_block {
    margin: 5px 10px 5px 10px;
    border: 1px outset rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 7px 14px 7px 14px;
    display: flex;
    position: relative;
}

#chat_sidebar .reference_block:hover {
    background-color: #100f12;
    border: 1px outset rgba(255, 255, 255, 0.7);
}

#chat_sidebar .reference_block:hover > .reference_end {  /* When hovering over the reference block element, change the following about the reference_end class. */
    background-image: linear-gradient(to right, transparent, #100f12);  /* Change it to the new background-color */
}

#chat_sidebar .reference_block:active {
    border: 1px inset rgba(255, 255, 255, 0.7);
}

#chat_sidebar .message_reference {
    white-space: nowrap;  /* Even if a piece of text naturally goes over several lines, it's forced into one. */
    overflow-x: hidden;
}

#chat_sidebar a {
    text-decoration: none;
    color: #ffffff;
}

#chat_sidebar .reference_end{
    position: absolute;  /* Is absolute to the reference block class - which allows overlaps */
    background-image: linear-gradient(to right, transparent, #141316);
    right: 5%;
    width: 40px;
    height: 18px;  /* The same height as the text in the 'message_reference' */
    pointer-events: none;  /* This element has no events on click, so any clicks on it pass through it to the underlying element */
}

#chat_body {
    flex: 1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(robot_silhouette_black_and_white.png);
    background-repeat: repeat;
}

#chat_display {
    overflow-y: auto;  /* If messages go beyond the chat space, add a vertical scroll automatically. */
    height: 83%;
    scrollbar-color: #4a4a4a #1e1e1e;  /* Makes the scrollbar colour go dark (Firefox) */
}

.user_prompt, .llm_response {
    position: relative;
    padding: 10px;
    display: flex;
    margin-right: 14%;
    margin-left: 14%;
}

.user_prompt {
    justify-content: right;
    flex-direction: row-reverse;
}

.llm_response {
    justify-content: left;
}

.user_prompt span, .llm_response span {
    position: relative;
    border-radius: 10px;
    padding: 8px 11px 8px 12px;
    color: #cccccc;
}

.user_prompt span {
    background-color: rgba(133, 119, 119, 0.25);
}

.llm_response span {
    background-color: transparent;
}

.llm_response img, .user_prompt img {
    border-radius: 50%;
    height: 34px;
    width: 34px;
}

.llm_response img {
    margin-right: 7px;
}

.user_prompt img {
    margin-left: 7px;
}
