footer {
    position: fixed;
    bottom: 7%;
    width: 100%
}

.prompt_container {
    position: relative;
    left: 50%;
}

.prompt_input {
    position: relative;
    transform: translateX(-50%);  /* Moves an element left by 50% of ITSELF */
}
