#modelSelector, #modelTuningSelector {
    position: relative;
    height: 30px;
    transition: right 0.35s ease 0s;
    right: 0;
    display: flex;
    z-index: 10;  /* Ensures it's on top of any item underneath it */
}

#modelDropdown, #modelTuningDropdown {
    position: relative;
    padding: 0 10px;
    width: auto;
    height: 100%;

    border: 2px outset;
    border-radius: 10px;
    background-color: #2a272d;
    color: #ffffff;
    cursor: pointer;
}

#modelDropdown:hover, #modelTuningDropdown:hover {
    background-color: #353538;  /* Same as the sidebar opener and closer */
}

#modelDropdown:active, #modelTuningDropdown:active {
    border-style: inset;
}

#modelSelection, #modelTuningSelection {
    position: absolute;  /* So it's relative to the container and doesn't affect the grid layout. */
    width: max-content;  /* Make each button have the same length as the largest model name. */
    top: 120%;
    display: flex;  /* This element will be stretch wide and tall as the contents in it, min is the closest container */
    flex-direction: column;
    background-color: #101011;
    border: 2px solid #0e0e0e;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-color: #4a4a4a #1e1e1e;  /* Makes the scrollbar colour go dark (Firefox) */
    direction: rtl;  /* Specifies text and layouts to be on the right */
    visibility: collapse;
}

#modelSelection button, #modelTuningSelection button {
    margin: 5px 10px;
    position: relative;
    border-radius: 17px;
    border-color: #727272;
    border-style: solid;
    padding: 7px 10px 7px 10px;
    text-align: left;
    background-color: rgba(51, 49, 49, 0.5);
    color: #cccccc;
    cursor: pointer;
    direction: ltr;  /* Specifies text and layouts to be on the left- this is primarily for scrollbar. */
}

#temperatureOption {
    margin: 5px 10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #727272;
    padding: 7px 10px;
    /*background-color: rgba(51, 49, 49, 0.5);*/
    background-image:  /* Thank you https://stackoverflow.com/questions/6457406/can-i-apply-multiple-background-colors-with-css3 for the inspiration. */
            linear-gradient(to right, rgba(51, 49, 49, 0.5), rgba(51, 49, 49, 0.5)),  /* The background colour */
            linear-gradient(to right, blue 0%, transparent -10%),  /* Cold colour going right */
            linear-gradient(to left, red 0%, transparent 20%);  /* Warm colour going left */
    color: rgba(204, 204, 204, 0.85);
    direction: ltr;
    display: flex;
    flex-direction: column;
    overflow: hidden;  /* Hides part of the image */
}

#temperatureOption p, #temperatureOption #temperatureScale {
    z-index: 1;  /* So the element can be in front of the images. */
}

#temperatureOption #SnowflakesBackground, #temperatureOption #SunBurstBackground {
    position: absolute;
    z-index: 0;
}

#temperatureOption #SnowflakesBackground #snowflake1 {
    height: 70px;
    width: auto;  /* Image dimensions in the x and y are both the same */
    left: -29px;
    top: -23px;
    position: relative;
}

#temperatureOption #SnowflakesBackground #snowflake2 {
    height: 36px;
    width: auto;
    left: -55px;
    top: 1px;
    position: relative;
}

#temperatureOption #SunBurstBackground #sunburst {
    height: 70px;
    width: auto;
    right: -128px;
    top: -5px;
    position: relative;
}

#modelSelection button:hover, #modelTuningSelection button:hover {
    background-color: rgba(80, 80, 80, 0.5);
}