#options_bar {
    position: relative;
    display: flex;
    height: 6.6%;
    margin-left: 0.9%;  /* Width of sidebar as in toggle_sidebar.mjs (18%) of sidebar_closer.left (5%) */
}

#options_bar ul {
    display: grid;
    grid: 'sidebarOpener modelSelector';
    column-gap: 10px;
}

#options_bar li {
    list-style: none;
    align-content: center;
}

#options_bar li #sidebar_opener {
    grid-area: sidebarOpener;
}

#options_bar li #modelSelector {
    grid-area: modelSelector;
}
