#options_bar {
    position: relative;
    display: flex;
    height: 6.6%;
    background-color: rgba(13, 13, 13, 0.7);
    border-bottom: 1px solid #000000;
}

#options_bar ul {
    display: flex;
    grid: 'sidebarOpener modelDropdown modelTuningDropdown';
    column-gap: 10px;
    margin-left: 0.9%;  /* Width of sidebar as in toggle_sidebar.mjs (18%) of sidebar_closer.left (5%) */
}

#options_bar li {
    list-style: none;
    align-content: center;
}

#options_bar li #sidebar_opener {
    grid-area: sidebarOpener;
}

#options_bar li #modelSelector #modelDropdown {
    grid-area: modelDropdown;
}

#options_bar li #modelTuningSelector #modelTuningDropdown {
    grid-area: modelTuningDropdown;
}
