#main_container {
    flex: 1;
}

#prompt_container {
    position: relative;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);  /* Moves an element left by 50% of ITSELF */
    transition: top 1.5s ease 0s;
}

#prompt_input {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Moves an element left by 50% of ITSELF */
    border-radius: 20px;
    padding: 15px 14px 15px 14px;
    outline: none;
    z-index: 1;
    transition: box-shadow linear 1s;
    border: 2px outset #111111;
    background-color: #64606b;
    color: #ffffff;
}

#prompt_container ::placeholder{
    color: white;
    opacity: 0.75;
}

#prompt_input:hover {
    border-color: rgb(13, 10, 63);
    box-shadow: 0 0 10px #380d65;
    transition: box-shadow linear 0.3s;
}

#submit_prompt_input {
    position: absolute;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    right: 3%;
    z-index: 2;
    background-image: url(Arrow.png);
    background-color: #434047;  /* Same as sidebar opener and closer */
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
}

#submit_prompt_input:hover {
    background-color: #2B282DFF;
}

/* Used https://www.w3schools.com/howto/howto_js_popup.asp as a reference */
#prompt_pop_up {
    position: relative;
    left: 50%;
    top: -20px;
    display: inline-block;
    transform: translateX(-50%);
    background-color: #542523;
    padding: 5px 10px;
    color: #c4c2c2;
    border-radius: 5px;
    border: 1px outset #da6565;
    opacity: 0;
    transition: opacity 1.65s ease 0s,
                top 1s ease 0s;
}

#prompt_pop_up.show {  /* When the show class is toggled on the following will be applied */
    opacity: 1;
    top: -50px;
}
