#main_container {
    flex: 1;
}

#prompt_container {
    position: relative;
    top: 44.4%;  /* To make it centred vertically: 50% - options_bar.top */
    width: 50%;
    left: 50%;
    transform: translateX(-50%);  /* Moves an element left by 50% of ITSELF */
    transition: top 1.5s ease 0s;
}

#prompt_input {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Moves an element left by 50% of ITSELF */
    border-radius: 20px;
    padding: 15px 14px 15px 14px;
    outline: none;
    z-index: 1;
    transition: box-shadow linear 1s;
    border: 2px outset #111111;
    background-color: #64606b;
    color: #ffffff;
}

#prompt_container ::placeholder{
    color: white;
    opacity: 0.75;
}

#prompt_input:hover {
    border-color: #5b150d;
    box-shadow: 0 0 20px #872716;
    transition: box-shadow linear 0.3s;
}

#submit_prompt_input {
    position: absolute;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    right: 3%;
    z-index: 2;
    background-image: url(Arrow.png);
    background-color: #434047;  /* Same as sidebar opener and closer */
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
}
