#main_container {
    flex: 1;
}

#prompt_container {
    position: relative;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);  /* Moves an element left by 50% of ITSELF */
    transition: top 1.5s ease 0s;
}

#prompt_input_container {
    display: flex;
    align-items: flex-end;  /* Forces elements to sit at the bottom, so any height manipulation would be going upwards */
    background-color: #64606b;

    /* Get the same styling as the actual prompt input */
    height: inherit;
    border-radius: 20px;
}

#input_hider {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: inherit;

    background-image: linear-gradient(to bottom, #64606b, transparent 15%);
    z-index: 2;
    pointer-events: none;
}

#prompt_input {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);  /* Moves an element left by 50% of ITSELF */
    border-radius: 20px;
    padding: 14px 10% 14px 13px;
    outline: none;
    z-index: 1;
    transition: box-shadow linear 1s;
    border: 2px outset #111111;
    background-color: transparent;  /* Takes the parent container's colour. */
    color: #ffffff;
    font-family: inherit;
    resize: none;
    font-size: 15px;
    overflow-y: hidden;
}

#prompt_container ::placeholder{
    color: white;
    opacity: 0.75;
}

#submit_prompt_input {
    position: absolute;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    transform: translateY(-50%);
    right: 1.75%;
    bottom: -11px;
    z-index: 2;
    background-image: url(Arrow.png);
    background-color: #434047;  /* Same as sidebar opener and closer */
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
}

#submit_prompt_input:hover {
    background-color: #2B282DFF;
}

/* Used https://www.w3schools.com/howto/howto_js_popup.asp as a reference */
#prompt_pop_up {
    position: absolute;
    left: 50%;
    top: 0;
    display: inline-block;
    transform: translateX(-50%);
    background-color: #542523;
    padding: 5px 10px;
    color: #c4c2c2;
    border-radius: 5px;
    border: 1px outset #da6565;
    opacity: 0;
    transition: opacity 1.65s ease 0s,
                top 1s ease 0s;
    z-index: -1;
}

#prompt_pop_up.show {  /* When the show class is toggled on the following will be applied */
    opacity: 1;
    top: -26px;
}
