#sidebar {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: #2d2a33;
    border-right: 1px solid;
    transition: width 0.5s ease 0s;
}

#sidebar_closer, #sidebar_opener {
    position: absolute;
    width: 33px;
    height: 30px;
    border-radius: 10px;
    top: 1.5%;
    left: 5%;
    opacity: 0;
    transition: opacity 0.1s linear 0s;
    /* TRANSITION BACKGROUND COLOUR AS SIDEBAR TRANSITIONS */
}

#sidebar_opener {  /* Override some properties to fit the opener button */
    position: relative;
    left: 1%;
    opacity: 1;
}
