#sidebar {
    position: relative;
    width: 0;
    height: 100%;
    background-color: #2d2a33;
    border-right: 1px solid;
    transition: width 0.5s ease 0s;
}

#sidebar_closer, #sidebar_opener {
    position: relative;
    width: 33px;
    height: 30px;
    border-radius: 10px;
    top: 1.5%;
    left: 5%;
    opacity: 0;
    transition: opacity 0.085s linear 0s;
    cursor: pointer;

    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2a272d;
}

#sidebar_closer:hover, #sidebar_opener:hover {
    background-color: #353538;
}

#sidebar_opener {  /* Override some properties to fit the opener button */
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    background-image: url(hamburger_icon.png);
}

#sidebar_closer {
    background-image: url(X_icon.png);
}
