<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/1200px-ChatGPT_logo.svg.png">
        <meta charset="UTF-8">
        <meta name="author" content="Oliver Winhammar">
        <meta name="keywords" content="ChatGPT, openAI API, Custom">
        <meta name="description" content="My own remake of the ChatGPT prompt to be more customisable.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{% endblock title %}</title>
        {% block stylesheet %}{% endblock stylesheet %}
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <section id="main_section">
            <header>
                {% block header %}{% endblock header %}
            </header>
            <main>
                {% block content %}{% endblock content %}
            </main>
            <footer>
                {% block footer %}{% endblock footer %}
            </footer>
        </section>
    </body>
</html>